{% extends "layouts/empty.html" %}

{% block content %}
<div class="relative flex flex-1 flex-col justify-center items-center pb-16 pt-12">
  <img src="https://cdn.worldvectorlogo.com/logos/django-community.svg" class="w-auto h-6 mb-16">
  <form method="post" class="w-full max-w-sm">
    {% csrf_token %}

    {% for field in form %}
    <p>
      {% if field.errors %}
      <ul>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="mb-6">
        {{ field.label_tag }}
        {{ field}}
      </div>
    </p>
    {% endfor %}

    <button type="submit"
      class="inline-flex justify-center text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 w-full">
      <span>Sign up</span>
    </button>
  </form>
</div>

{% endblock %}
